$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #00FEE3;
$secondary_paletteKeyColor: #527F81;
$tertiary_paletteKeyColor: #3E8091;
$neutral_paletteKeyColor: #6C7A76;
$neutral_variant_paletteKeyColor: #697B77;
$background: #091613;
$onBackground: #D7E6E1;
$surface: #091613;
$surfaceDim: #091613;
$surfaceBright: #2F3C39;
$surfaceContainerLowest: #05100E;
$surfaceContainerLow: #111E1B;
$surfaceContainer: #15221F;
$surfaceContainerHigh: #202C2A;
$surfaceContainerHighest: #2A3734;
$onSurface: #D7E6E1;
$surfaceVariant: #394A46;
$onSurfaceVariant: #B8CAC5;
$inverseSurface: #D7E6E1;
$inverseOnSurface: #263330;
$outline: #839490;
$outlineVariant: #394A46;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00DFC7;
$primary: #00DFC7;
$onPrimary: #003730;
$primaryContainer: #005047;
$onPrimaryContainer: #00FEE3;
$inversePrimary: #006B5E;
$secondary: #A0CFD1;
$onSecondary: #003739;
$secondaryContainer: #1E4E50;
$onSecondaryContainer: #BCEBEE;
$tertiary: #90D0E3;
$onTertiary: #003641;
$tertiaryContainer: #5A9AAC;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #00FEE3;
$primaryFixedDim: #00DFC7;
$onPrimaryFixed: #00201C;
$onPrimaryFixedVariant: #005047;
$secondaryFixed: #BCEBEE;
$secondaryFixedDim: #A0CFD1;
$onSecondaryFixed: #002021;
$onSecondaryFixedVariant: #1E4E50;
$tertiaryFixed: #AFECFF;
$tertiaryFixedDim: #90D0E3;
$onTertiaryFixed: #001F27;
$onTertiaryFixedVariant: #004E5D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0D1E1A;
$term1: #7B9C2F;
$term2: #63E1B3;
$term3: #8CFBC1;
$term4: #76B6AD;
$term5: #7AAEEA;
$term6: #87D9C1;
$term7: #CEDBD0;
$term8: #B2BCB3;
$term9: #A1D043;
$term10: #F8FFF9;
$term11: #FFFFFF;
$term12: #BFE4DA;
$term13: #C8DAFF;
$term14: #E8FFF5;
$term15: #ADF0E1;
